
// Colors
$white: hsl(0, 0%, 100%);
$cyan: hsl(172, 67%, 45%);
$dark-cyan: hsl(183, 100%, 15%);
$dark-gray-cyan: hsl(186, 14%, 43%);
$gray-cyan: hsl(184, 14%, 56%);
$light-gray-cyan: hsl(185, 41%, 84%);
$very-light-gray-cyan: hsl(189, 41%, 97%);


// Padding and Margin
$xs: 5px;
$sm: 10px;
$md: 15px;
$lg: 20px;
$xlg: 35px;


// Transition
$transition: all .2s ease-in;


// Font Weight
$semiBold: 600;
$extraBold: 800;